
*{
	box-sizing: border-box;
}

		/* CONTENIDO */
		#contenido{
			display: flex;flex-direction: column;
			justify-content: center;align-items: center;
			gap: 20px;
			width: 100%;
		}
		#contenido .contenedor{
			width: 80%;height: 60vh;
			border: 3px solid black ;
			border-radius: 50px;
			display: flex;
			
		}
		#contenido .contenedor .p1i{
			width: 30%;height: 100%;
			background-color: rgba(0,0,0,0.5);
            color: aliceblue;
			border-radius: 50px 0px 0px 50px;
		}
		#contenido .contenedor .p1i img{
			height:100%;width: 100%;
			border-radius: 50px 0px 0px 50px;
		}
		#contenido .contenedor .p2i{
			background-color: rgba(0,0,0,0.5);
            color: aliceblue;

			width: 70%;height: 100%;
			border-radius: 0px 50px 50px 0px;
			border-left: 2px solid black;
		}
		#contenido .contenedor .p2i img{
			height:100%;width: 100%;
			border-radius: 0px 50px 50px 0px;
		}
		#contenido .contenedor .p1d{
			width: 30%;height: 100%;
			background-color: rgba(0,0,0,0.5);
            color: aliceblue;
			border-radius: 0px 50px 50px 0px;
		}
		#contenido .contenedor .p1d img{
			height:100%;width: 100%;
			border-radius: 0px 50px 50px 0px; 
		}
		#contenido .contenedor .p2d{
			background-color: rgba(0,0,0,0.5);
            color: aliceblue;
			width: 70%;height: 100%;
			border-radius: 50px 0px 0px 50px;
			border-left: 2px solid black;
		}
		#contenido .contenedor .p2i p, #contenido .contenedor .p2d p, #contenido .contenedor .p1i p, #contenido .contenedor .p1d p{
			margin: 15%;
			font-size: 1.12em;
		} 
		#hero{
			top: 0;
			height: 100vh;width: 100%;
			position: relative;
			background: transparent; /* Puedes establecer un fondo de respaldo si el video no se carga o está deshabilitado */
		}
		
		/* Establece estilos para el video */
		video {
			margin: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			object-fit: cover; /* Ajusta el video para cubrir todo el div sin distorsión */
			z-index: -1; /* Coloca el video detrás del contenido del div */
		}